.button {
  display: inline-block;
  border-radius: 3px;
  font-size: 16px;
  text-decoration: none;
  padding: 15px 30px;
  text-shadow: 2px 1px 1px rgba(0, 0, 0, 0.15);
  font-weight: bold;
  box-shadow: 3px 2px 1px rgba(0, 0, 0, 0.25);
}

.button-white {
  background-color: #eeeeee;
  color: #663300;
  font-size: 20px;
}

.button:hover {
  background-color: rgba(225, 225, 225, 0.95);
  transition: all ease .3s;
}
