.cards {
  padding: 15px 0;
  background: #f3f3f3;
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: center;
}

.cards .row {
  max-width: 45%;
  display: flex;
  flex: 1;
  flex-direction: row;
}

.info-card {
  max-width: 50%;
  display: flex;
  justify-content: center;
  border-radius: 5px;
  border: #333333AA 2px solid;
  background-color: #ffffff;
  flex: 1;
  flex-direction: column;
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px;
}

.info-card:hover {
  background-color: #e3e3e3;
  transition: all ease .5s;
}

.info-card img {
  margin: auto;
  width: 75%;
  border-radius: 5px;
}

@media(max-width: 1024px) {
  .cards {
    flex-direction: column;
    justify-content: center;
  }

  .cards .row {
    justify-content: center;
    max-width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .info-card {
    max-width: 30%;
  }
}

@media(max-width: 640px) {
  .info-card {
    max-width: 100%;
    margin-bottom: 10px;
  }
}

@media(max-width: 480px) {
  .cards .row {
    max-width: 100%;
    flex-direction: column;
    justify-content: center;
  }
}
