.brand-title {
  font-family: 'Trebuchet MS';
  color: #fff;
  font-size: 32px;
  font-weight: bold;
  text-shadow: 0px 1px 2px #333;
  line-height: 200%;
  height: 60px;
}

.footer {
  background: #33333399;
  color: #ffffff;
  font-weight: 500;
  width: 100%;
  height: 30px;
  text-align: center;
}

.header {
  position: fixed;
  background-color: #33333399;
  top: 0;
  width: 100%;
  height: 65px;
  display: flex;
  justify-content: space-between;
}

.header-brand {
  max-width: 100%;
  padding-left: 10%;
  display: flex;
  justify-content: flex-start;
}

.header-links-block {
  display: flex;
  justify-content: flex-end;
}

.header-link {
  text-align: center;
  text-justify: center;
  font-size: 24px;
  padding: 1rem;
}

.header-link:hover {
  background-color: #00000099;
  transition: all ease .3s;
}

.header-link a {
  color: #ffffff;
  text-decoration: none;
}

@media(max-width: 800px) {
  .header {
    background-color: #333;
    flex-direction: column;
    height:max-content;
  }

  .header-brand {
    padding: 0;
    justify-content: center;
    border-bottom: #222 1px solid;
  }

  .header-links-block {
    justify-content: space-between;
    flex-direction: row;
  }

  .header-link {
    flex: 1;
    font-size: 16px;
    line-height: 8px;
  }
}

@media(max-width: 480px) {
  .brand-title {
    font-size: 28px;
  }
}